main {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

body {
    position: relative;
}

footer {
    position: fixed;
    bottom:0px;
    width: 100%;
    -webkit-box-shadow: 0px -2px 2px 0 rgba(0,0,0,0.3);
    box-shadow: 0px -2px 2px 0 rgba(0,0,0,0.3);
}

/* MAP PANEL */
#section-map-wrapper{
    margin-top: 8px;
}

#currentLocationMap{
    width: 100%;
    height: 400px;
}

.gm-style .gm-style-iw {
   text-transform: uppercase;
   color: black;
}

#section-map-top{
    display: flex;
    flex-direction: row;
}

#section-map-input {
    margin: 8px;
    width: 50%;
}

#section-map-current{
    width: 50%;
}

.input-container {
    display: table;
    margin: 8px 0px;
    width: 100%;
}

.label-container {
	display: flex;
}

.input-label {
    padding: 6px 12px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 6px 0px 0px 6px;
    text-align: center;
    background-color: rgb(214, 38, 59);
    border: 1px solid rgb(33, 33, 33);
    width: 100px;
}

input#search {
    height: 34px;
    padding: 6px 12px;
    line-height: 1.428571429;
    vertical-align: middle;
    border-radius: 0px 6px 6px 0px;

    margin-right: -3px;
    background: rgba(0, 0, 0, 0.2);
    border: 0px solid rgb(0, 0, 0);
    display: table-cell;
    color: white;
    width: 100%;
    outline: none;
}

input#submit{
    padding: 6px 15px;
    border: 2px solid rgb(214, 38, 59);
    background-color: rgb(214, 38, 59);
    color: white;
    font-family: inherit;
    float: right;
}

input#compare:disabled {
    background: rgb(214, 161, 167);
    border: 2px solid rgb(214, 161, 167);
}

input#compare {
    padding: 6px 15px;
    border: 2px solid rgb(214, 38, 59);
    background-color: rgb(214, 38, 59);
    color: white;
    font-family: inherit;

    width: 150px;
    margin: 4px auto 0px auto;
}

/* Location */

.location-address {
    text-align: center;
    margin: 8px;
}

dl.location {
    display: table;
    margin: 0px auto;
}

dt {
    float: left;
    clear: left;
    width: 62px;
    text-align: right;
    font-weight: bold;
    color: rgb(214, 38, 59);
}

dd {
    margin: 0px 0 0 70px;
    text-align: left;
  }

#section-map-current .location dt:last-of-type,
#section-map-current .location dd:last-of-type {
    display: none;
}

/* COMPARE PANEL */
#section-input-drop {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

#file-drop-zone {
    width: 150px;
    height: 150px;
    border: 2px dashed rgb(214, 38, 59);
    margin: 0 auto;
    display: flex;
}

#file-drop-zone div{
    display: flex;
    flex-direction: column;
}

#section-compare-results {
    display: none;
}

#section-compare-contents {
    display: flex;
    flex-flow: row wrap;
}

/* Media Queries */

@media (max-width:350px) {
	nav{
        display:flex;
        flex-direction: column;
    }

    .header-element {
        width:100%;
    }

    /* MAP PANEL */
    #section-map-top{
        flex-direction: column;
    }

    #section-map-input {
        width: 100%;
    }

    #section-map-current{
        width: 100%;
    }

    /* COMPARE PANEL */
    .location-data {
        width: 100%;
    }
}

@media (min-width:350px) and (max-width:500px){
    nav{
        display:flex;
        flex-direction: column;
    }

    .header-element {
        width:100%;
    }

    /* MAP PANEL */
    #section-map-top{
        flex-direction: column;
    }

    #section-map-input {
        width: 100%;
    }

    #section-map-current{
        width: 100%;
    }

    /* COMPARE PANEL */
    .location-data {
        width: 100%;
    }
}

@media (min-width:500px) and (max-width:650px){

    /* COMPARE PANEL */
    .location-data {
        width: 50%;
    }
}

@media (min-width:650px) and (max-width:1000px){

    /* COMPARE PANEL */
    .location-data {
        width: 33%;
    }
}

@media (min-width:1000px){

    /* COMPARE PANEL */
    .location-data {
        width: 33%;
    }

    #section-map, #section-compare {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}
